/* Web Grid */
.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
}

.header {
    background-color: #00718f;
    font-weight: bold;
    color: #FFF;
    text-decoration-color: #FFFFFF;
}

.header a {
    color: #FFFFFF;
}

.webGrid th, .webGrid td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.alt {
    background-color: #e6f9ff;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
}

.description {
    width: auto;
}

.select {
    background-color: #CFCFCF;
}

.btn-mini {
    background-color: #F5F5F5 !important;
    border: 1px solid #00718f;
}

.pagination a {
    /*border: 1px solid #00718f;
    padding: 5px 10px 5px 10px;*/ 
    margin-left: 5px;
    margin-right: 5px;
}

.pagination td {
    /*border: 1px solid #00718f;
    padding: 5px 10px 5px 10px;*/ 
     margin-left: 5px;
    margin-right: 5px;
}

table {
    background-color: #F5F5F5 !important;
}

