
@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>Indico Order Processing System 2.0</title>
    </head>
    <body>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/js")
        @{Html.RenderAction("Navigation", "Navigation");}
        <div class="container-fluid body-content">
            @RenderBody()
            <footer style="color: #8c8c8c; font-size: small;">
                Copyright © 2016 Bourke Technologies. All rights reserved.
            </footer>
        </div>


        @*<script src="~/Content/js/app.min.js"></script>*@
        <script type="text/javascript">
            var highestIntervalId = setInterval(";");
            for (var i = 0; i < highestIntervalId; i++) {
                clearInterval(i);
            }

            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "95%" }
            }
            for (var selector in config) {
                if (config.hasOwnProperty(selector)) {
                    $(selector).chosen(config[selector]);
                }
            }
        </script>
    </body>
</html>